
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

:root{
 
  --seconday-2:#DB4444;
  --text-white:#FAFAFA;
}



body{
  min-width:1440px;
  position:relative;
  min-height:100vh;
  overflow-x:hidden;
}

body::after{
  content:'';
  display:block;
  height:440px;
  overflow-x:hidden;
}

.main-container{
  overflow-x:hidden;
  width:1440px;
 
}




ul li{
  list-style:none;
}

li{
  list-style:none;
}

.top-header{
  min-width: 1440px;
  max-width:100%;
  max-width:100%;
  height: 48px;
  padding: 12px 136px 12px 445px;
  background:#000000;
  color: #FAFAFA;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-bottom:47px;

}

.header-content{
  width:859px;
  height:24px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header-text{
  width: 570px;
  height:24px;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:8px;
}

.header-text p{
  
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;

}

.shopnow-btn{
  width: 68px;
  height: 24px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  background:#000;
  color:#FAFAFA;
  border:none;
  text-decoration:underline;
}

.header-content select{
  width: 78px;
  height: 24px;
  background:#000;
  color:#FAFAFA;
  border:none;
}

.nav-bar{
  margin-bottom:40px;
  max-width: 1170px;
  min-width:900px;
  margin:40px 135px 56px 135px;
  height:38px;
}

.nav{
  max-width: 1440px;
  min-width:900px;
  margin:0 auto;
  height: 38x;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:148px;
  font-family:"Poppins";
  position:relative;

}



.left-links a::before{
  content:'';
  position:absolute;
  bottom:-4px;
  /* left:0; */
  height:2px;
  background:#7D8184;
  width:0px;
  transition:all .5s;
  border-radius:2px;

}

.left-links a:hover::before{
 width:48px;
}



.nav,.nav-left,.left-links,.nav-right,.right-links{
  display:flex;
  align-items:center;
  position:relative;

}

/* .right-i{
  width:32px;
  height:32px;
} */

.nav{
  display:flex;
  gap:148px;
  position:relative;
}

.searchicon{
  width:24px;
  height:24px;
}

.cart-items-count{
  width:16px;
  height:17px;
  border-radius:50%;
  position:absolute;
  top:-7px;
  right:36px;
  background:var(--seconday-2);
  display:flex;
  align-items:center;
  justify-content:center;

}

.cart-items-count span{
  font-size:12px;
  font-weight:400;
  font-family:'Poppins';
  color:var(--text-white);

}

.right-icon{
 width:20px;
 height:auto;
}

.searchicon{
 width:16px;
 height:16px;
 position:absolute;
 left:-70px;
 
}

.nav-left{
  max-width:675px;

  gap:190px;
}

.nav-right{
  gap:40px;
}

.left-links{
  min-width:367px;
  max-width:440px;
  height:24px;
  gap:38px;

}




.acount-dontdrop{
  display:none;
}

.account-link-notactive{
  width:24px;
  height:24px;
  transition: all 500ms;
}

.account-dropdown{
  border-radius:4px;
  padding:18px 12px 10px 20px;
  position:absolute;
  top:40px;
  right:-50px;
  background:rgba(0,0,0,0.7);
  color:var(--text-white);
  width:225px;
  height:208px;
  background: linear-gradient(to bottom right, pink ,black);
  line-height:21px;
  z-index:209;
}


.inner-link{
  width:190px;
  height:180px;
}

.account-dropdown li{
  display:flex;
  gap:16px;
  margin-bottom:14px;
}

.account-dropdown img{
  width:24px;
  height:24px;
}




.account-dropdown p{
font-size:14px;
font-weight:500;
font-family:'Poppins';
}

/* .acount-dontdrop{
  padding:4px;
} */


.account-link{
  display:block;
 background:var( --seconday-2) ;
border-radius:50%;
 color:#fff;
 transition: all 500ms;
}

.left-links a{

  font-size:16px;
  font-weight:400;
  font-family:'Poppins';
  min-width:50px;
  max-width:60px;
}

.right-links{
  gap:19px;
}

.left-links a,.right-links i{
  font-size:13px;
  font-weight:400;
}

.nav a{
  color:#212121;
  text-decoration:none;
}

.nav-right input{
  width:242px;
  height:38px;
  border:none;
  background:#F5F5F5;
  padding:7px 12px 7px 20px;
  font-size:12px;
  font-weight:400;
  font-family:'Poppins',sans-serif;
 
}

.exclusive-feature{
  font-size:24px;
  width:118px;
  font-weight:700;
  font-family:'Inter'
}

.dropdown-list,#signout{
  color:#fff;
}

.verctical-line{
  
  width:1440px;
  height:0.1px;
  background:lightgray;
  margin:16px 0;

}

.breadcrumb{
  display:flex;
  align-items:center;
  gap:12px;
  width:135px;
  

}

.breadcrumbitem{
  display:flex;
  min-width:83px;
  
 
  text-align:center;
  height:21px;
  align-items:center;
  /* border:1px solid black; */
}

.breadcrumb a{
  display:flex;
  justify-content:space-between;
  gap:30px;
  font-size:14px;
  font-family:'Poppins',sans-serif;
  font-weight:400;
  color:#aaa;
  text-decoration:none;
}

.breadcrumb .trueactive{
  color:#000;
  font-size:14px;
  font-family:'Poppins',sans-serif;
  font-weight:400;
}


/* app main container */

.main-container{
  min-width:1440px;
  width:100%;
}



/* Signup page */

.signup{
  width:1305px;
  height:781px;
  margin-bottom:140px;
  position:relative;
  overflow-y:hidden;
}

.signup-container{
  display:flex;
  align-items:center;
  gap:129px;
}






.signup form{
  width:371px;
  height:530px;
  font-family:'Poppins';
  display:flex;
  flex-direction:column;
  gap:40px;
}

.signup header{
  margin-bottom:48px;
  height:78px;
  font-family:'Poppins'
}

.signup header h1{
font-family: Inter;
font-size: 36px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0.04em;
text-align: left;
margin-bottom:24px;
}

.signup p{
  font-size:16px;
}



.input-fields{
  margin-bottom:40px;
}

.account-span{
  width:auto;
  background:lightgreen;
  padding:20px 50px;
  position:absolute;
  right:0;
  top:-10px;
  display:none;
}

.signup form input{
  border:none;
  border-bottom:1px solid gray;
  width:370px;
  height:72px;
  outline:none;
}

.submit-btns{
  display:inherit;
  flex-direction:column;
  gap:30px;

}

.login-btns{
  flex-direction:row;
  align-items:center;
  gap:87px;

}

.login-user{
  width:143px;
  height:56px;
}

.forgotpass{
  border:none;
  width:141px;
  height:24px;
  color:#DB4444;
  text-decoration:none;
}

.create-btn{
  background:rgb(219, 68, 68);
  color:#fff;
  border:none;
}


.signup-btn {
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid black;

  gap:16px;
}

.signup-btn img{
  width:24px;
  height:24px;
}

.create-btn,.signup-btn{
  height:56px;
  border-radius:6px;
}

.submit-btns p{
  text-align:center;
  font-size:15px;
}

.login-btn{
  width:47px;
  height:28px;
  border:none;
  background:#fff;
  margin-left:16px;
  border-bottom:1px solid black;
}

.logoutpng i{
width:25px;
height:25px;
color:#000;
}

.SideImage{
  width:805px;
  height:781px;
  margin-top:60px;
  margin-bottom:140px;
}



.footer{
  background:#000;
  min-width:1440px;
  width:100%;
  min-height:440px;
  color:#FAFAFA;
  position:fixed;
  position:absolute;
  bottom:0px;
}

.footer-items{
  width:1170px;
  display:flex;
  gap:87px;
  margin:0 auto;
  margin-top:80px;
  margin-bottom:60px;
  height:250px;
}



.qrcode-img,.store-img{
  width:75px;
  height:70px;
  margin-right:10px;
}



.footer li{
  font-family:'poppins';
  list-style:none;
  font-size:16px;
  min-width:110px;
  max-width:217px;
  line-height:48px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom:24px;

}

.footer input{
  background:#000;
  color:#000;
  outline:none;
  border:2px solid #ddd;
  padding:12px 71px 12px 16px;
  border-radius:3px;
  width:217px;
}

.footer li:first-child{
  font-weight:900;
  font-size:20px;
  
  font-family: Inter;
  /* font-size: 24px; */
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color:#FAFAFA;

}

.exclusive-li span{
  display:inline-block;
  margin-top:24px;
}

/* .footer li:last-of-child(2){
width:
} */

.subscribe{
  position:relative;
}

.send-btn-footer{
  position:absolute;
  top:12px;
  left:178px;

  width:18px;
  height:18px;

}

.copyright{
  color:#666;
  font-size:13px;
  margin:0 auto;
  margin-bottom:24px;
  width:1440px;
  text-align:center;
  font-family:'Poppins';
  border-top:1px solid #444;
  padding:16px 577.5px 24px 577.5px;
}



/* demo */

.bg-black-892{
  background:#000;
 display:flex;
 gap:38px;
 justify-content:space-between;
}

.swiper-pagination{
  width:108px;
  height:14px;
}

.swiper-pagination-bullet{
  background:rgb(128, 128, 128);
}

.swiper-pagination-bullet-active{
  background:#DB4444;
}

.hero-text{
  margin:58px 0 47px 64px;
   
  display:flex;
  flex-direction:column;
  gap:22px;
  color:#fff;
}

.brand-40{
  width:190px;
  height:49px;
  display:flex;
  gap:14.5px;
  align-items:center;
}

.brand-40 span{
  width:126px;
  height:20px;
  font-family:'Poppins', sans-serif;
  font-weight:400;
  font-size:16px;
}

.hero-text h1{
  width:294px;
  height:120px;
  font-size:48px;
  font-width:600;
  font-family:'Inter',sans-serif;
}

.shop-btn{
  width:113px;
  hidden:28px;
  display:flex;
  gap:11.5px;
  align-items:center;
}

.shop-now-81{
width:81px;
height:28px;
font-size:16px;
font-family:'Poppins',sans-serif;
font-weight:500;
}


