.cart-count-container{
   
    position: relative;
}

.cart-count{
    background-color: red;
    color: white;
    text-align: center;
    position: absolute;
    top:-20px;
    right: -10px;
     display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border-radius: 10px;
}

.search{
    position: relative;
}

.search-result{
    position: absolute;
    top: 40px;
    height: 300px;
    border: 2px solid black;
    border-top:none;
    width: 100%;
    overflow: auto;
    z-index: 10000;
    background-color: white;
}

.search-result li{
    list-style: none;
    font-size: 13px;
}